<% layout('../layout') -%>
<h1><%= title %></h1>
<form method="POST" action="/notes/addnote">
    <label>Title</label>
    <input name="title" value=""/>
    <label>Content</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Save" />
</form>